body html {
    background-color:#FFFFFF;
    margin:0;
    padding:0;
}

.content {
    width:80%;
    height:300px;
    
     padding:5px;
        text-align: center;
        background-color:#F9FBFD;
        margin:5%;
}

.wrapper {
 
    width:100%;
    height:auto;
    margin:5%;
    padding:5px; 
   
    background-color:#FFFFFF;
}

#textBox {
    width:100%;
}



.inBox {
   
    border:1px black dashed;
}

#increment {
    float:left;
}

#clip {
    position:relative;
    float:right;
}